
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.listText {
    display:flex;

}

.cardHeadingStyle {
  
    /* H3 */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 1.25px;
  
    color: #000000;
  
  
    /* Inside auto layout */
  
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .viewAllLink {
    /* View all */
    width: 89px;
    height: 27px;
  
    /* Hyperlink */
  
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1.5px;
    text-decoration-line: underline;
  
    /* Secondary 4 */
  
    color: #914D0E;
  }