.outside {
  position: relative;
  font-weight: 600;
}
.instagramIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.instagramIconParent,
.outsideParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.outsideParent {
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}
.joinOurNewsletter {
  position: relative;
  font-size: var(--body21-size);
  display: inline-block;
  width: 478px;
  height: 56px;
  flex-shrink: 0;
}
.placeholder {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.textInput {
  border-radius: var(--br-sm);
  background-color: var(--white);
  border: 1px solid var(--black1);
  box-sizing: border-box;
  width: 334px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
}
.label {
  position: relative;
  letter-spacing: 1.5px;
}
.lightPillSelected,
.textInputParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lightPillSelected {
  border-radius: var(--br-sm);
  background-color: var(--primary1);
  width: 119px;
  height: 48px;
  flex-shrink: 0;
  padding: var(--padding-3xs) var(--padding-sm);
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  color: var(--black1);
  font-family: var(--body21);
}
.textInputParent {
  justify-content: flex-start;
  gap: var(--gap-xl);
  color: var(--dark-gray1);
  font-family: var(--text-regular-normal1);
}
.bySubscribingYou {
  position: relative;
  display: inline-block;
  width: 524px;
}
.frameGroup,
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsletter {
  gap: var(--gap-4xs);
  font-size: var(--text-regular-normal1-size);
  color: var(--black1);
  font-family: var(--body21);
}
.frameGroup {
  gap: var(--gap-3xl);
}
.booking {
  position: relative;
  font-weight: 300;
}
.bookingParent,
.quickLinkParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bookingParent {
  gap: var(--gap-4xs);
  font-size: var(--body21-size);
}
.quickLinkParent {
  gap: var(--gap-lg);
}
.termsOfUseParent {
  font-size: var(--body21-size);
}
.frameContainer,
.legalInformationParent,
.termsOfUseParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frameContainer {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-6xl);
  font-size: var(--font-size-xl);
  color: var(--black2);
  font-family: var(--font-inter);
}
.footer,
.frameParent {
  width: 1302px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.footer {
  position: absolute;
  top: 3666px;
  left: 0;
  background-color: var(--secondary-21);
  width: 1440px;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-3xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--accent1);
  font-family: var(--font-montserrat);
}
