.cancel {
  position: relative;
  letter-spacing: 1.25px;
}
.buttonPlain,
.buttonPlain1,
.homePageButtons {
  border-radius: var(--br-xs);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonPlain {
  background-color: var(--primary1);
  width: 300px;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  justify-content: center;
}
.buttonPlain1,
.homePageButtons {
  justify-content: flex-start;
}
.buttonPlain1 {
  background-color: var(--secondary-21);
  width: 300px;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  justify-content: center;
}
.homePageButtonsParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.iconlylightOutlinefilter {
  position: relative;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.buttonPlain2 {
  border-radius: var(--br-xs);
  background-color: var(--secondary-21);
  height: 60px;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-3xs);
}
.buttonPlain2,
.homePageButtons2,
.navButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.homePageButtons2 {
  border-radius: var(--br-xs);
  height: 60px;
  justify-content: flex-start;
  color: var(--accent1);
}
.navButtons {
  position: absolute;
  top: 653px;
  left: 61px;
  width: 1312px;
  justify-content: space-between;
  text-align: center;
  font-size: var(--body21-size);
  color: var(--black2);
  font-family: var(--body21);
}
