.navItems{
  display:flex
}

.navigationOval{
  /* Rectangle 4 */
  display:flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 1500px;

  background: #F8F8F8;
  border-radius: 72.6667px;

}

.searchButton {
  /* Rectangle 5 */

  /* position: absolute; */
  /* left: 82.4%;
  right: 0.93%;
  top: 18.75%;
  bottom: 21.25%; */

  /* Secondary 1 */
  height: 48px;
  width: 166.6666717529297px;
  border-radius: 72.66667175292969px;
  background: #FAE0A5;
  border-color: #FAE0A5;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14.5333px;
  line-height: 18px;
  color: #D06224;

  
}



.searchText {

  /* position: absolute; */
  /* left: 89.33%;
  right: 4.87%;
  top: 38%;
  bottom: 39.5%; */

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14.5333px;
  line-height: 18px;
  letter-spacing: 1.09px;
  color: #D06224;

}


.navText {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #090909;
}

.navAdds {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #C8C8C8;

}
