.navigationOval{
  /* Rectangle 4 */


  position: absolute;
  left: 0%;
  right: 0%;
  top: 11.25%;
  bottom: 13.75%;

  /* White */

  background: #F8F8F8;
  border-radius: 72.6667px;

}

.searchButton {
  /* Rectangle 5 */

  position: absolute;
  left: 82.4%;
  right: 0.93%;
  top: 18.75%;
  bottom: 21.25%;

  /* Secondary 1 */

  background: #FAE0A5;
  border-radius: 72.6667px;
  border-color: #FAE0A5;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14.5333px;
  line-height: 18px;
  color: #D06224;

  
}

.searchText {
  /* Search */


  position: absolute;
  left: 89.33%;
  right: 4.87%;
  top: 38%;
  bottom: 39.5%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14.5333px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 1.09px;

  /* Accent */

  color: #D06224;

}