.recommendedForYou,
.viewAll {
  position: relative;
  letter-spacing: 1.25px;
}
.viewAll {
  font-size: var(--body21-size);
  text-decoration: underline;
  letter-spacing: 1.5px;
  color: var(--secondary-4);
}
.recommendedForYouParent {
  width: 1304px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.maskGroupIcon {
  position: relative;
  width: 380px;
  height: 446.95px;
  flex-shrink: 0;
  object-fit: cover;
}
.akageraNationalPark {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.milesAway {
  position: relative;
}
.moneyMouthFace1Icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.milesAwayParent,
.moneyMouthFace1Wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.milesAwayParent {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.iconlyboldstar {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.frameGroup,
.iconlyboldstarParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconlyboldstarParent {
  justify-content: flex-start;
  gap: var(--gap-7xs);
  color: var(--black1);
}
.frameGroup {
  width: 374px;
  justify-content: space-between;
  font-size: var(--body21-size);
  color: var(--dark-gray1);
}
.akageraNationalParkParent,
.maskGroupParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.akageraNationalParkParent {
  align-self: stretch;
  gap: var(--gap-xs);
}
.maskGroupParent {
  gap: var(--gap-sm);
}
.booking,
.bookingParent,
.frameParent,
.moneyMouthFace1Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.booking {
  border-radius: var(--br-md);
  background-color: var(--secondary-21);
  padding: var(--padding-sm);
}
.bookingParent,
.frameParent,
.moneyMouthFace1Parent {
  gap: var(--gap-8xs);
}
.bookingParent,
.frameParent {
  gap: var(--gap-2xl);
  font-size: var(--subtitle3-size);
}
.frameParent {
  flex-direction: column;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--h3-size);
  color: var(--black1);
  font-family: var(--body21);
}
